/* ! FONTES */
@import url('fontes/fonts.css');

/* ! SOBRE O PROJETO */
@import url('sobre-o-projeto/sobre-o-projeto.css');

/* ! HEADER */
@import url('header/header.css');

/* ! FOOTER */
@import url('footer/footer.css');

/* ! PÁGINA PRINCIPAL */
@import url('pagina-principal/pagina-principal.css');

/* ! QUEM SOMOS */
@import url('quem-somos/quem-somos.css');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-poppins);
}

.interface {
    padding: 0 8%;
}

html {
    scroll-behavior: smooth;
}