.gradient-background {
  background: linear-gradient(273deg,#d8bfd8,#c5a3c6,#a16aa2);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-footer {
  padding-bottom: 1rem;
}

.logo-footer img {
  width: 12.5rem;
  margin-top: 10%;
}

.conteudo-footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

span:nth-of-type(2) {
  margin-bottom: 1rem;
}

span:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.conteudo-local {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.conteudo-local i {
  font-size: 1.5rem;
}

hr {
  border: 0;
  height: 2px;
  background-color: #000;
  margin: 1.5rem 0;
}

.container-contato {
  display: flex;
  flex-direction: column;
}

.container-contato p {
  font-size: 0.9rem;
}

.conteudo-contato {
  display: flex;
  flex-direction: column;
}

.conteudo-contato .email,
.telefone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container-contato span {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.conteudo-contato i {
  font-size: 1.5rem;
}

.container-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-links .links a i {
  font-size: 2rem;
  color: #000;
  transition: 0.6s ease-in-out;
}

.conteudo-links {
  width: 50%;
  display: flex;
  gap: 1rem;
}

.conteudo-links .links a i:hover {
  color: #fff;
}

.sobre-o-projeto a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: 0.6s ease-in-out;
}

.sobre-o-projeto a:hover {
  color: #fff;
}

.autor-do-site {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: 1rem;
}

.autor-do-site i {
  font-size: 2rem;
  position: absolute;
  right: 8%;
}

.voltar-topo a {
  color: #000;
  transition: 0.6s;
}

.voltar-topo a:hover {
  color: #fff;
}

.autor {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo-footer img {
    margin: 0;
    width: 12rem;
  }

  .logo-footer {
    margin-top: 1rem;
    margin-right: -0.5rem;
    border-right: 1px solid #000;
  }

  .container-footer {
    column-gap: 1rem;
    overflow: hidden;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .container-links {
    width: 96.5%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .logo-footer img {
    margin: 0;
    width: 12rem;
  }

  .logo-footer {
    margin-top: 1rem;
    margin-right: 2rem;
    border-right: 1px solid #000;
  }

  .container-footer {
    /* column-gap: .5rem; */
    overflow: hidden;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 30% 70%;
  }
}

@media screen and (min-width: 1201px) {
  .logo-footer img {
    margin: 0;
    width: 14rem;
  }

  .logo-footer {
    margin-top: 1rem;
    margin-right: 3rem;
    border-right: 1px solid #000;
  }

  .container-footer {
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
    padding-top: 0.5rem;
  }

  .container-footer span,
  .conteudo-local,
  .conteudo-contato p,
  .sobre-o-projeto,
  .autor-do-site .autor {
    font-size: 1.1rem;
    /* color: red; */
  }
}

@media screen and (min-width: 1920px) and (max-width: 1920px) {
  .logo-footer img {
    width: 16rem;
    margin: 0 auto;
  }
}
