/* ! Header */
header {
  position: fixed;
  top: 0;
  /* background-color: #EAEAEA; */
  background-color: #fff;
  z-index: 77777;
}

.menu-desktop {
  display: none;
}

.header {
  display: flex;
  height: 5rem;
  padding: 0 8%;
  align-items: center;
}

.logo-do-site img {
  max-width: 50%;
}

.btn-abrir-menu {
  font-size: 35px;
  cursor: pointer;
  /* color: #2C2D3F; */
  color: #a16aa2;
}

.menu-mobile .btn-fechar-menu {
  display: none;
}

.menu-mobile {
  background-color: #fff;
  height: 0;
  position: absolute;
  top: 5rem;
  right: 5vw;
  left: 5vw;
  width: 90vw;
  z-index: 99999;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.7s;
}

.menu-mobile.ativo {
  height: calc(26.5rem - 5rem);
  border-top: 1px solid #a16aa2;
}

.menu-mobile.ativo ~ .overlay-menu {
  display: block;
}

.menu-mobile nav ul {
  list-style: none;
  padding: 14px 0;
  z-index: 88888;
}

.menu-mobile nav ul li {
  padding: 0.6rem 2.2rem;
}

.menu-mobile nav ul li a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 24px;
  font-family: var(--fonte-poppins);
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.05rem;
  padding-bottom: 0.13rem;
  transition: 0.3s ease-in-out;
}

.menu-mobile nav ul li a:hover {
  color: #a16aa2;
  /* border-bottom: 1px solid #A16AA2; */
}

.overlay-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo-do-site img {
    max-width: 30%;
  }

  .btn-abrir-menu {
    font-size: 40px;
  }

  .header {
    padding: 2.5% 8%;
    height: 5rem;
  }

  .menu-mobile {
    top: 5rem;
  }

  .menu-mobile nav ul li a {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 993px) and (max-width: 1239px) {
  .logo-do-site img {
    max-width: 25%;
  }

  .btn-abrir-menu {
    font-size: 40px;
  }

  .header {
    height: 5rem;
  }

  .menu-mobile {
    top: 5rem;
  }

  .menu-mobile nav ul li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1240px) and (max-width: 1365px) {
  .menu-mobile,
  .btn-abrir-menu,
  .overlay-menu {
    display: block;
  }

  header .menu-desktop {
    display: none;
  }

  .logo-do-site img {
    max-width: 200px;
  }

  .header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  .menu-desktop {
    display: block;
  }
}

@media screen and (min-width: 1366px) {
  .header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  .logo-do-site img {
    max-width: 250px;
  }

  .menu-mobile,
  .btn-abrir-menu,
  .overlay-menu {
    display: none;
  }

  header .menu-desktop {
    display: block;
  }

  .menu-desktop ul {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .menu-desktop ul li a {
    color: #000;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }

  .menu-desktop ul li a:hover {
    color: #a16aa2;
    border-bottom: 1px solid #a16aa2;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    padding: 0 10%;
  }
}
