.primeira-section {
  padding-top: 2rem;
}

.conteudo h2,
.container-opnioes h2 {
  margin-top: 7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 50px;
}

.conteudo h2 label,
.container-opnioes h2 label {
  color: #a16aa2;
}

.conteudo p,
.container-opnioes p {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.botao-procedimentos,
.botao-medicos,
.botao-convenios,
.botao-depoimentos {
  text-align: center;
  margin: 2rem 0;
}

.botao-procedimentos button,
.botao-medicos button,
.botao-convenios button,
.botao-depoimentos button {
  height: 4rem;
  background-color: #a16aa2;
  color: #fff;
  border: 0;
  width: auto;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.5);
  transition: .5s;
}

.botao-procedimentos button a,
.botao-medicos button a,
.botao-convenios button a,
.botao-depoimentos button a {
  text-decoration: none;
  padding: 20px 10px;
  color: #fff;
} 

.botao-procedimentos button:hover,
.botao-medicos button:hover,
.botao-convenios button:hover,
.botao-depoimentos button:hover {
  background-color: #d8bfd8;
}

.botao-procedimentos button a:hover,
.botao-medicos button a:hover,
.botao-convenios button a:hover,
.botao-depoimentos button a:hover {
  color: #000;
}

.swiper.depoimentos {
  padding: 0 8%;
}

.video .desktop {
  display: none;
}

.video {
  text-align: center;
}

.video video {
  max-width: 300px;
  border: 4px solid #cbadcc;
  border-radius: 30px;
}

.container-planos {
  width: 100%;
  display: grid;
  place-items: center;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.logo-convenios img {
  width: 140px;
}

.lista-o-que-oferecemos ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.lista-o-que-oferecemos ul li {
  margin-bottom: 1rem;
}

.lista-o-que-oferecemos ul li i {
  padding-right: 0.5rem;
  font-size: 1.5rem;
}

.swiper {
  height: 450px;
  margin-top: 1rem;
}

.interface-lista {
  padding: 0 8%;
}

.swiper-slide {
  border: 1px solid #59595943;
  padding: 15px;
  text-align: justify;
  background-color: #cbadcc61;
  border-radius: 20px;
  width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  display: none;
}

.swiper-pagination {
  display: none;
}

blockquote {
  font-size: 0.9rem;
}

.depoimento-nota {
  font-size: 1.5rem;
  color: #fabb05;
  margin-bottom: 0.5rem;
}

.depoimento-autor {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.imagem-autor {
  width: 60px;
  height: 60px;
}

.imagem-autor img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.info-autor p {
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* main {
    margin-top: 10rem;
  } */

  .conteudo h2,
  .container-opnioes h2 {
    font-size: 2.5rem;
  }

  .conteudo p,
  .container-opnioes p {
    /* margin: 1rem 0; */
    font-size: 1rem;
  }

  .video .mobile {
    display: none;
  }

  .video {
    display: flex;
    justify-content: center;
  }

  .video .desktop {
    display: block;
    max-width: 650px;
  }

  .botao-procedimentos button,
  .botao-medicos button,
  .botao-convenios button,
  .botao-depoimentos button {
    width: auto;
    padding: 10px;
    height: 4rem;
  }

  .logo-convenios img {
    width: 200px;
  }

  .interface-lista {
    padding: 0 8%;
  }

  .lista-o-que-oferecemos ul {
    font-size: 1rem;
    display: grid;
    align-items: center;
    column-gap: 20px;
    grid-template-columns: 50% 50%;
  }

  .lista-o-que-oferecemos ul li i {
    font-size: 1.5rem;
  }

  .swiper {
    height: 450px;
  }

  .swiper-slide {
    position: relative;
  }

  .depoimento-autor {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .swiper .swiper-pagination {
    display: none;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* main {
    margin-top: 11rem;
  } */

  .conteudo h2,
  .container-opnioes h2 {
    margin-top: 7rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 50px;
  }

  .conteudo p,
  .container-opnioes p {
    font-size: 1.2rem;
  }

  .video .mobile {
    display: none;
  }

  .video {
    display: flex;
    justify-content: center;
  }

  .video .desktop {
    display: block;
    max-width: 700px;
  }

  .botao-procedimentos button,
  .botao-medicos button,
  .botao-convenios button,
  .botao-depoimentos button {
    width: auto;
    padding: 10px;
    height: 4rem;
  }


  .logo-convenios img {
    width: 240px;
  }

  .interface-lista {
    padding: 0 8%;
  }

  .lista-o-que-oferecemos ul {
    font-size: 1.2rem;
    display: grid;
    align-items: center;
    column-gap: 20px;
    grid-template-columns: 50% 50%;
  }

  .swiper {
    height: 520px;
  }

  .swiper-slide {
    position: relative;
  }

  .depoimento-autor {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  blockquote {
    font-size: 1.2rem;
  }

  .swiper .swiper-pagination {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  /* main {
    margin-top: 2em;
  } */

  .conteudo h2,
  .container-opnioes h2 {
    font-size: 2.5rem;
  }

  .conteudo p,
  .container-opnioes p {
    font-size: 1.2rem;
  }

  .container-botao-video {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:4rem;
  }

  .video .mobile {
    display: none;
  }

  .video {
    display: flex;
    justify-content: center;
  }

  .video .desktop {
    display: block;
    max-width: 500px;
  }
  
  .botao-procedimentos button {
    width: 80%;
  }

  .botao-procedimentos button,
  .botao-medicos button,
  .botao-convenios button,
  .botao-depoimentos button {
    width: auto;
    padding: 10px;
    height: 4rem;
  }

  blockquote {
    font-size: 1.2rem;
  }

  .logo-convenios img {
    width: 280px;
  }

  .interface-lista {
    padding: 0 8%;
  }

  .lista-o-que-oferecemos ul {
    font-size: 1.2rem;
    display: grid;
    align-items: center;
    column-gap: 20px;
    grid-template-columns: 50% 50%;
  }

  .swiper.depoimentos {
    padding: 0 8%;
  }

}

@media screen and (min-width: 1201px) and (max-width: 1430px) {
  .swiper.depoimentos .swiper-button-next,
  .swiper.depoimentos .swiper-button-prev {
    display: none;
  }
}

@media screen and (min-width: 1202px) {
  .container-botao-video {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .swiper {
    height: 520px;
  }

  .botao-procedimentos button,
  .botao-medicos button,
  .botao-convenios button,
  .botao-depoimentos button {
    width: auto;
    padding: 10px;
    height: 4rem;
  }

  .lista-o-que-oferecemos ul {
    row-gap: 20px;
    margin-top: 2rem;
  }

  .swiper.depoimentos {
    margin-top: 2rem;
  }

  .swiper .swiper-button-prev {
    left: 230px;
  }

  .swiper .swiper-button-next {
    right: 230px;
  }

  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: block;
    color: #000;
    font-size: 1rem;
  }

  .swiper .swiper-button-prev::after {
    content: "";
  }

  .swiper .swiper-button-next::after {
    content: "";
  }

  .swiper .swiper-button-prev {
    left: 80px;
    font-size: 2.5rem;
    color: #a16aa2;
  }

  .swiper .swiper-button-next {
    right: 80px;
    font-size: 2.5rem;
    color: #a16aa2;
  }
}

@media screen and (min-width: 1920px) {
  .conteudo p,
  .container-opnioes p {
    font-size: 1.4rem;
  }

  .lista-o-que-oferecemos ul {
    font-size: 1.4rem;
  }

  .container-botao-video {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}